* {
	box-sizing: border-box;
}
@font-face{
	font-family:"Solomon";
	src:url("../solomon/SolomonSansLight.otf");
}
@font-face{
	font-family:"SolomonItalic";
	src:url("../solomon/SolomonSansLightItalic.otf");
}
iframe {
    display:block;
    border:none;
    margin:0 auto;
}
/*SIMPLE ANIMATION*/

.delay {
-webkit-animation-delay: 0.30s;
-moz-animation-delay: 0.30s;
-o-animation-delay: 0.30s;
animation-delay: 0.30s;
}

.delay-three {
-webkit-animation-delay: 0.60s;
-moz-animation-delay: 0.60s;
-o-animation-delay: 0.60s;
animation-delay: 0.60s;
}

.delay-two {
-webkit-animation-delay: 1.0s;
-moz-animation-delay: 1.0s;
-o-animation-delay: 1.0s;
animation-delay: 1.0s;
}

.delay-one {
-webkit-animation-delay: 1.5s;
-moz-animation-delay: 1.5s;
-o-animation-delay: 1.5s;
animation-delay: 1.5s;
}

/*END OF SECTION*/
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: white;
	margin: 0;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.clearfix:after{
	content:"";
	display:table;
	clear:both;
}
a {
    cursor:pointer;
}
.mt_25 {
    margin-top:25px;
}
.mt_65 {
    margin-top:65px;
}
/*GRID*/
.wrapper {
	max-width: 2300px;
	margin:0 auto;
}
.container {
	max-width: 1170px;
	width:100%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 10px;
}
@media only screen and (min-width: 320px) {
	.contaner{
		padding: 0 10px;
	}
}
@media only screen and (min-width:768px) {
	.container {
		padding: 0 17px;
	}
}
@media only screen and (min-width:1024px) {
	.container {
		padding: 0 15px;
	}
}
@media only screen and (min-width:1200px) {
	.container {
		padding: 0 15px;
	}
}
/*BUTTON*/
.btn {
    width:100%;
	padding-top:15px;
	padding-bottom: 15px;
	margin:0 auto;
	background: transparent;
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
    font-weight: 300;
	border: solid 1px #8C4644;
	text-align: center;
}
.btn:hover {
    cursor:pointer;
    border-color: #ff4a30;
}
.btn_wrapper {
    width:310px;
    margin: 0 auto; 
}
/*INPUT*/
::-webkit-input-placeholder {
    font-family:'Open Sans';
    color:#797979;
}
::-moz-placeholder {
    font-family:'Open Sans';
    color:#797979;
}
:-moz-placeholder {
    font-family:'Open Sans';
    color:#797979;
}
:-ms-input-placeholder {
    font-family:'Open Sans';
    color:#797979;
}
/*HEADER*/
.header {
	position: fixed;
	top:0;
	right: 0;
	left: 0;
	height: 66px;
	width:100%;
	background-color: rgb(7, 20, 33);
	opacity: 0.6;
	background-size: cover;
	background-repeat: no-repeat;
    z-index:9999;
}
@media only screen and (min-width: 768px) {
	.header {
		height: 80px;
		background-color: transparent;
		opacity: 1;
	}
}
@media only screen and (min-width:1024px) {
	.header {
		background-color: rgb(7, 20, 33);
		opacity: 0.6;
		height: 80px;
	}
}
@media only screen and (min-width:1200px) {
	.header {
        position:absolute;
		background-color: transparent;
		height: 97px;
	}
}
.header_collapse_d {
     background-color: rgba(7, 20, 33, 0.6);
}
.navigation {
	display: block;
	float:left;
	width: 100%;
	height: 66px;
	padding: 0;
}
.logo {
	padding-top:17px;
	float: left;
}
@media only screen and (min-width:1024px) {
    .logo {
        padding:22px 0 0 0;
    }
}
@media only screen and (min-width:1200px) {
    .logo {
        padding:39px 0 0 0;
    }
}
.logo_m {
    display:block;
}
@media only screen and (min-width:768px) {
    .logo_m {
        display:none;
    }
}
.logo_d {
    display:none;
}
@media only screen and (min-width:768px) {
    .logo_d {
        display:block;
    }
}
.navigation_collapse_d_tl {
    display:none;
}
.navigation_phone_block_d_tl_t {
        display:none;
}
@media (min-width:768px) {
    .navigation_phone_block_d_tl_t {
        display:block;
        position:relative;
        float:right;
        padding:0 35px 0 25px;
    }
    .navigation_phone_block_d_tl_t:before {
        content:"";
        position:absolute;
        left:2px;
        top:5px;
        background:url(../img/icon_d_call.png);
        width:14px;
        height:14px;
    }
    .navigation_phone_block_d_tl_t:after{
        position:absolute;
        content:"";
        background:url(../img/header_line_d.png);
        top:-7px;
        right:0;
        width:1px;
        height:31px;
    }  
}
@media (min-width:768px) and (max-width:1023px) {
    .navigation_phone_block_d_tl_t {
        margin: 24px 27px 0 0;
    }
}
@media only screen and (min-width:1024px) {
    .navigation_collapse_d_tl {
        display:block;
        float:left;
    }
    .navigation_collapse_d_tl ul {
        list-style:none;
        text-decoration:none;
        display:block;
    }
    .navigation_collapse_d_tl ul li {
        display:inline-block;
    }
    .navigation_collapse_d_tl ul li a {
        text-decoration:none;
        cursor:pointer;
    }
    .navigation_phone_block_d_tl_t {
        display:block;
        position:relative;
    }
    .navigation_collapse_d_tl ul li:hover {
        border-bottom: 1px solid #ff4731;
    }
}
@media only screen and (min-width:1024px) and (max-width:1199px) {
    .navigation_collapse_d_tl ul {
        padding: 0 15px;
        margin:28px 0 0;
    }
    .navigation_collapse_d_tl ul li {
        font-size:12px;
        padding: 0 7px 30px;
    }
    .navigation_phone_block_d_tl_t {
        font-size:16px;
    }
    .navigation_phone_block_d_tl_t {
        margin:27px 27px 0 0;
    }
}
@media only screen and (min-width:1200px) {
    .navigation_collapse_d_tl ul {
        margin:46px 0 0;
        padding:0 30px; 
    }
    .navigation_phone_block_d_tl_t {
        font-size:18px;
        margin: 45px 27px 0 0;
    }
    .navigation_collapse_d_tl ul li {
        font-size:14px;
        padding: 0 10px;
    }
}
.hamburger {
	padding: 24px 0;
	float: right;
}
@media only screen and (min-width:1200px) {
    .hamburger{
        padding: 45px 0 30px; 
    }
}
.hamburger_t_tl_d {
    display:none;
    cursor:pointer;
}
.hamburger_m {
    display:block;
    cursor:pointer;
}
@media only screen and (min-width:768px) {
    .hamburger_t_tl_d {
        display:block;
    }
    .hamburger_m {
        display:none;
    }
}
/*MAIN*/
.main {
	height:980px;
	background-image: url(../img/main.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 10%;
    background-attachment: fixed;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
	.main {
		width: 100%;
		height: 568px;
		background-image: url(../img/main_m.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 13%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.main {
		width: 100%;
		height: 805px;
		background-image: url(../img/main_t.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 13%;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
	.main {
		width: 100%;
		height: 768px;
		background-image: url(../img/main_tl.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 13%;
	}
}
@media only screen and (min-width:1200px) {
    .main {
        padding-top: 286px;
    }
}
.main_content_m {
	display: block;
	padding-top:185px;
}
@media only screen and (min-width: 768px) {
	.main_content_m {
		display: none;
	}
}
.main_content_heading_m {
	margin:0;
	text-align: center;
	font-family: "Solomon"; 	
	font-size: 28px;
	font-weight: 300;
	line-height: 1.241;
}
.main_content_feature_m {
	text-align: center;
	font-size: 14px;
    margin:14px 0 79px;
	font-family: 'SolomonItalic';
}
.transition {
    -webkit-transition: border-color 1s ease-in;
         -moz-transition: border-color 1s ease-in;
           -o-transition: border-color 1s ease-in;
          -ms-transition: border-color 1s ease-in;
              transition: border-color 1s ease-in;
}
.main_content_t {
	display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.main_content_t {
		padding-top: 270px;
		display: block;
	}
}
.main_content_tl {
	display: none;
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
	.main_content_tl {
		padding-top: 235px;
		display: block;
	}
}
.main_content_heading_t,
.main_content_heading_tl {
	margin:0;
	text-align: center; 	
	font-size: 45px;
	font-family: "Solomon"; 
	font-weight: 300;
	line-height: 1.241;
}
.main_content_feature_t {
	margin-top: 25px;
}
.main_content_feature_tl {
	margin-top: 30px;
}
.main_content_feature_t,
.main_content_feature_tl {
	margin-bottom:60px;
	text-align: center;
	font-size: 15px;
	font-family: 'SolomonItalic';
}
.main_content_d {
	display: none;
}
@media only screen and (min-width: 1200px) {
	.main_content_d {
		display: block;
        animation-name: fadeInDown;
	}
}
.main_content_heading_d {
	margin:0;
	text-align: center;
	font-family: 'Solomon'; 	
	font-size: 60px;
	font-weight: 300;
	line-height: 1.167;
}
.main_content_feature_d {
	margin-top:20px;
	margin-bottom:75px;
	text-align: center;
	font-family: 'SolomonItalic';
	font-size: 18px;
}
.main_offering_d {
	font-family: 'Open Sans';
	font-size: 18px;
	margin-top: 70px;
	padding-top: 40px;
    background-color: rgba(3, 37, 60, 0.3);
    opacity:0.5;
    height:310px;
}
.main_offering_d p {
    margin: 0 0 10px;
}
.main_offering_d ul {
	padding: 0 0 0 20px;
}
.main_footnote_d {
	font-family: 'Open Sans';
	font-size: 12px;
	margin-top: 70px;
	padding-top: 10px;
}
@media (min-height:900px) {
    .main_footnote_d {
    position: absolute;
    bottom:10px;
    left:0;
    right: 0;
}
}
.main_footnote_d p {
	margin: 0;
}
/*MAIN OFFERING*/
.main_offering {
	display: block;
	width: 100%;
	height: 290px;
	background-color: #0d2b44;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
	.main_offering {
		height: 220px;
	}
}
@media only screen and (min-width: 1200px) {
	.main_offering {
		display: none;
	}
}
.main_offering_content_m {
	display: block;
}
@media only screen and (min-width: 768px) {
	.main_offering_content_m {
		display: none;
	}
}
.main_offering_content_m h2 {
	text-align: left;
	float: left;
	font-size: 18px;
	margin-top: 32px;
	margin-bottom: 25px;
	width: 200px;
}
.main_offering_content_checkbox_m {
	position: relative;
	font-size: 14px;
	font-style: italic;
	padding-left: 30px;
	margin-bottom: 15px;
}
.main_offering_content_checkbox_m:before {
	content: "";
	position: absolute;
	background: url(../img/checkbox_m.png);
	width: 19px;
	height: 19px;
	left:0;
	top:0;
}
.main_offering_content_t {
	display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.main_offering_content_t {
		display: block;
	}
}
.main_offering_content_tl {
	display: none;
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
	.main_offering_content_tl {
		display: block;
	}
}
.main_offering_content_t h2,
.main_offering_content_tl h2 {
	font-size: 24px;
	text-align: center;
	padding-left: 0 15px;
}
.main_offering_content_t h2 {
	margin-top: 12px;
	margin-bottom: 35px;
}
.main_offering_content_tl h2 {
	margin-top: 32px;
	margin-bottom: 40px;
}
.main_offering_content_checkbox_container_t,
.main_offering_content_checkbox_container_tl {
	display: flex;
	justify-content: center;
}
.main_offering_content_checkbox_t,
.main_offering_content_checkbox_tl {
	position: relative;
	font-size: 18px;
	font-style: italic;
	padding-left: 35px;
	padding-right: 20px;
}
.main_offering_content_checkbox_t:before {
	content: "";
	position: absolute;
	background: url(../img/checkbox_t.png);
	width: 30px;
	height: 30px;
	left:0;
	top:-2px;
}
.main_offering_content_checkbox_tl:before {
	content: "";
	position: absolute;
	background: url(../img/checkbox_t.png);
	width: 30px;
	height: 30px;
	left:0;
	top:-2px;
}
.main_offering_content_footnote_t,
.main_offering_content_footnote_tl {
	font-size: 9px;
	color:#48515f;
	margin-top: 40px;
}
/*SOLUTIONS*/
.solutions {
	width: 100%;
	height:568px;
	background-image: none;
	background-color: #ffffff;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
	.solutions {
		height: 850px;
	}
}
@media only screen and (min-width: 1200px) {
	.solutions {
		height: 980px;
	}
}
.solutions_content_m {
	display: block;
	color: #b2b2b2;
}
@media only screen and (min-width: 768px) {
	.solutions_content_m {
		display: none;
	}
}
.solutions_content_m h2 {
	font-size: 18px;
	text-align: center;
}
.solutions_content_container_m>.solutions_content_heading_m,
.solutions_content_container_m>.solutions_content_heading_m_reverse {
	width:47%;
	font-size: 15px;
	font-weight: 400;
    display:flex;
    align-items: center;
    height:45px;
}
.solutions_content_heading_m {
	float: left;
	text-align: right;
}
.solutions_content_heading_m_reverse {
	float: right;
	text-align: left;
}
.solutions_content_feature_container_m {
    position: relative;
	margin-top: 20px;
	border-bottom: 1px dashed #d6d5d5;
}
.solutions_content_feature_container_m:before {
	position: absolute;
	content: "";
	background:url(../img/arrow_down.png);
	bottom:5px;
	left:0;
	width: 13px;
	height: 24px;	
}
.solutions_content_feature_container_m:after {
	position: absolute;
	content: "";
	background:url(../img/arrow_top.png);
	bottom:5px;
	right:0;
	width: 13px;
	height: 24px;	
}
.solutions_content_feature_m,
.solutions_content_feature_m_reverse {
	position: relative;
	width: 45%;
	padding-top:25px;
	padding-bottom:13px;
}
.solutions_content_feature_m {
	float: left;
	text-align: right;
}
.solutions_content_feature_m_reverse {
	float: right;
	text-align: left;
}
/*SOLUTIONS_m ICONS*/
.solutions_icon_m_handdown,
.solutions_icon_m_handup,
.solutions_icon_m_price,
.solutions_icon_m_result,
.solutions_icon_m_job,
.solutions_icon_m_fixedprice,
.solutions_icon_m_risk,
.solutions_icon_m_shield {
    position:relative;
}
.solutions_icon_m_handdown:before,
.solutions_icon_m_handup:before,
.solutions_icon_m_price:before,
.solutions_icon_m_fixedprice:before,
.solutions_icon_m_job:before,
.solutions_icon_m_result:before,
.solutions_icon_m_risk:before,
.solutions_icon_m_shield:before {
    position:absolute;
    content:"";
    top:0;
}
.solutions_icon_m_handdown:before {
    background:url(../img/icon_m_handdown.png);
	right:0;
	width: 19px;
	height: 19px;
}
.solutions_icon_m_handup:before {
    background:url(../img/icon_m_handup.png);
	left:0;
	width: 19px;
	height: 19px;
}
.solutions_icon_m_price:before {
    background:url(../img/icon_m_price.png);
	right:0;
	width: 18px;
	height: 18px;
}
.solutions_icon_m_fixedprice:before {
    background:url(../img/icon_m_fixedprice.png);
	left:0;
	width: 18px;
	height: 18px;
}
.solutions_icon_m_job:before {
    background:url(../img/icon_m_job.png);
	right:0;
	width: 18px;
	height: 18px;
}
.solutions_icon_m_result:before {
    background:url(../img/icon_m_result.png);
	left:0;
	width: 18px;
	height: 18px;
}
.solutions_icon_m_risk:before {
    background:url(../img/icon_m_risk.png);
	right:0;
	width: 17px;
	height: 17px;
}
.solutions_icon_m_shield:before {
    background:url(../img/icon_m_shield.png);
	left:0;
	width: 17px;
	height: 17px;
}
/*SOLUTIONS TABLET*/
.solutions_content_t {
	display: none;
	color: #b2b2b2;
}
@media only screen and (min-width:768px) and (max-width:1023px) {
    .solutions_content_t {
        display:block;
    }
}
.solutions_content_t h2 {
    margin-top:65px;
    margin-bottom:55px;
    font-size:36px;
    text-align:center;
    color:#333333;
}
.solutions_content_t h3 {
    display: table-cell;
    height: 99px;
    vertical-align: middle;
    font-size:24px;
    color:#333333;
    font-weight:300;
}
.solutions_content_container_t,
.solutions_content_container_t_reverse {
    display:block;
    width:33.5%;
}
.solutions_content_container_t {
    float:left;
    text-align:right;
    padding-right: 1%;
}
.solutions_content_container_t_reverse {
    float:right;
    text-align:left;
    padding-left: 1%;
}
.solutions_img_container_t {
    float:left;
    width:29%;
    height:434px;
    margin: 45px 2% 0 2%;
    background:url(../img/phone_t.png) no-repeat;
    background-size:contain;
    background-position:center;
}
.solutions_content_feature_container_t,
.solutions_content_feature_container_t_reverse {
    position:relative;
    border-bottom: 1px dashed #d6d5d5;
    padding-bottom:10px;
    margin-bottom:25px;
}
.solutions_content_feature_container_t:before {
    content:"";
    position:absolute;
    bottom:8px;
    left:0;
    background:url(../img/arrow_down_t.png);
    width:13px;
    height:7px;
}
.solutions_content_feature_container_t_reverse:before {
    content:"";
    position:absolute;
    bottom:8px;
    right:0;
    background:url(../img/arrow_down_t_green.png);
    width:13px;
    height:7px;
}
.solutions_content_feature_t {
    font-size:15px;
    color:#494d54;
    font-weight:400;
    padding-top:40px;
}
.solutions_content_feature_discription_t {
    font-size:14px;
    margin-top:10px;
}
/*SOLUTIONS_t ICONS*/
.solutions_icon_t_handdown,
.solutions_icon_t_handup,
.solutions_icon_t_price,
.solutions_icon_t_result,
.solutions_icon_t_job,
.solutions_icon_t_fixedprice,
.solutions_icon_t_risk,
.solutions_icon_t_shield {
    position:relative;
}
.solutions_icon_t_handdown:before,
.solutions_icon_t_handup:before,
.solutions_icon_t_price:before,
.solutions_icon_t_fixedprice:before,
.solutions_icon_t_job:before,
.solutions_icon_t_result:before,
.solutions_icon_t_risk:before,
.solutions_icon_t_shield:before {
    position:absolute;
    content:"";
    top:0;
}
.solutions_icon_t_handdown:before {
    background:url(../img/icon_t_handdown.png);
	right:0;
	width: 24px;
	height: 24px;
}
.solutions_icon_t_handup:before {
    background:url(../img/icon_t_handup.png);
	left:0;
	width: 24px;
	height: 24px;
}
.solutions_icon_t_price:before {
    background:url(../img/icon_t_price.png);
	right:0;
	width: 24px;
	height: 24px;
}
.solutions_icon_t_fixedprice:before {
    background:url(../img/icon_t_fixedprice.png);
	left:0;
	width: 24px;
	height: 24px;
}
.solutions_icon_t_job:before {
    background:url(../img/icon_t_job.png);
	right:0;
	width: 24px;
	height: 24px;
}
.solutions_icon_t_result:before {
    background:url(../img/icon_t_result.png);
	left:0;
	width: 24px;
	height: 24px;
}
.solutions_icon_t_risk:before {
    background:url(../img/icon_t_risk.png);
	right:0;
	width: 24px;
	height: 24px;
}
.solutions_icon_t_shield:before {
    background:url(../img/icon_t_shield.png);
	left:0;
	width: 24px;
	height: 24px;
}
/*SOLUTIONS_tl*/
.solutions_content_tl {
    display: none;
    color: #b2b2b2;
}
@media only screen and (min-width:1024px) and (max-width:1199px) {
    .solutions_content_tl {
        display:block;
    }
}
.solutions_content_tl h2 {
    margin-top:65px;
    margin-bottom:55px;
    font-size:36px;
    text-align:center;
    color:#333333;
}
.solutions_content_tl h3 {
    display: flex;
    height: 99px;
    align-items: center;
    font-size:24px;
    color:#333333;
    font-weight:300;
}
.solutions_content_container_tl,
.solutions_content_container_tl_reverse {
    display:block;
    width:33.5%;
}
.solutions_content_container_tl {
    float:left;
    text-align:right;
    padding-right: 1%;
}
.solutions_content_container_tl_reverse {
    float:right;
    text-align:left;
    padding-left: 1%;
}
.solutions_img_container_tl {
    float:left;
    width:29%;
    height:563px;
    margin: 85px 2% 0 2%;
    background:url(../img/phone_tl.png) no-repeat;
    background-size:contain;
    background-position:center;
}
.solutions_content_feature_container_tl,
.solutions_content_feature_container_tl_reverse {
    position:relative;
    border-bottom: 1px dashed #d6d5d5;
    padding-bottom:35px;
    margin-bottom:75px;
}
.solutions_content_feature_container_tl {
    margin-bottom:75px;
}
.solutions_content_feature_tl,
.solutions_content_feature_tl_reverse {
    font-size:16px;
    font-weight:400;
    color:#333333;
}
.solutions_content_feature_tl {
    padding-right:40px;
}
.solutions_content_feature_tl_reverse {
    padding-left:40px;
}
.solutions_content_feature_container_tl:before {
    content:"";
    position:absolute;
    bottom:10px;
    left:17px;
    background:url(../img/arrow_down.png);
    width:13px;
    height:24px;
}
.solutions_content_feature_container_tl_reverse:before {
    content:"";
    position:absolute;
    bottom:10px;
    right:17px;
    background:url(../img/arrow_top.png);
    width:13px;
    height:24px;
}
.solutions_content_feature_container_tl_reverse_large {
    position:relative;
    border-bottom: 1px dashed #d6d5d5;
    margin-bottom:24px;
    padding-bottom:20px;
}
.solutions_content_feature_discription_tl {
    font-size:14px;
    padding-left:40px;
    margin-top:10px;
}
/*SOLUTIONS_tl ICONS*/
.solutions_icon_tl_handdown,
.solutions_icon_tl_handup,
.solutions_icon_tl_price,
.solutions_icon_tl_result,
.solutions_icon_tl_job,
.solutions_icon_tl_fixedprice,
.solutions_icon_tl_risk,
.solutions_icon_tl_shield,
.solutions_icon_d_handdown,
.solutions_icon_d_handup,
.solutions_icon_d_price,
.solutions_icon_d_result,
.solutions_icon_d_job,
.solutions_icon_d_fixedprice,
.solutions_icon_d_risk,
.solutions_icon_d_shield {
    position:relative;
}
.solutions_icon_tl_handdown:before,
.solutions_icon_tl_handup:before,
.solutions_icon_tl_price:before,
.solutions_icon_tl_fixedprice:before,
.solutions_icon_tl_job:before,
.solutions_icon_tl_result:before,
.solutions_icon_tl_risk:before,
.solutions_icon_tl_shield:before,
.solutions_icon_d_handdown:before,
.solutions_icon_d_handup:before,
.solutions_icon_d_price:before,
.solutions_icon_d_fixedprice:before,
.solutions_icon_d_job:before,
.solutions_icon_d_result:before,
.solutions_icon_d_risk:before,
.solutions_icon_d_shield:before {
    position:absolute;
    content:"";
    top:0;
}
.solutions_icon_tl_handdown:before,
.solutions_icon_d_handdown:before {
    background:url(../img/icon_t_handdown.png);
	right:0;
	width: 24px;
	height: 24px;
}
.solutions_icon_tl_handup:before,
.solutions_icon_d_handup:before {
    background:url(../img/icon_t_handup.png);
	left:0;
	width: 24px;
	height: 24px;
}
.solutions_icon_tl_price:before,
.solutions_icon_d_price:before {
    background:url(../img/icon_t_price.png);
	right:0;
	width: 24px;
	height: 24px;
}
.solutions_icon_tl_fixedprice:before,
.solutions_icon_d_fixedprice:before {
    background:url(../img/icon_t_fixedprice.png);
	left:0;
	width: 24px;
	height: 24px;
}
.solutions_icon_tl_job:before,
.solutions_icon_d_job:before {
    background:url(../img/icon_t_job.png);
	right:0;
	width: 24px;
	height: 24px;
}
.solutions_icon_tl_result:before,
.solutions_icon_d_result:before {
    background:url(../img/icon_t_result.png);
	left:0;
	width: 24px;
	height: 24px;
}
.solutions_icon_tl_risk:before,
.solutions_icon_d_risk:before {
    background:url(../img/icon_t_risk.png);
	right:0;
	width: 24px;
	height: 24px;
}
.solutions_icon_tl_shield:before,
.solutions_icon_d_shield:before {
    background:url(../img/icon_t_shield.png);
	left:0;
	width: 24px;
	height: 24px;
}
/*SOLUTIONS DESKTOPE*/
.solutions_content_d {
    display:none;
}
@media (min-width: 1200px) {
    .solutions_content_d {
        display:block;
        color:#333333;
    }
}
.solutions_content_d h2 {
    text-align:center;
    font-size:48px;
    font-weight:300;
    margin-top: 83px;
    margin-bottom:56px;
}
.solutions_content_container_d,
.solutions_content_container_d_reverse {
    display:block;
    width:33.5%;
}
.solutions_content_container_d {
    float:left;
    text-align:right;
    padding-right: 1%;
}
.solutions_content_container_d_reverse {
    float:right;
    text-align:left;
    padding-left: 1%;
}
.solutions_img_container_d {
    float:left;
    width:29%;
    height:563px;
    margin: 140px 2% 0 2%;
    background:url(../img/phone_d.png) no-repeat;
    background-size:contain;
    background-position:center;
}
.solutions_content_container_d h3,
.solutions_content_container_d_reverse h3 {
    display:flex;
    align-items: center;
    margin:0 0 82px 0;
    height:65px;
    font-size:24px;
    font-weight:300;
}
.solutions_content_feature_container_d,
.solutions_content_feature_container_d_reverse,
.solutions_content_feature_container_d_reverse_wide,
.solutions_content_feature_container_d_reverse_small,
.solutions_content_feature_container_d_reverse_standart {
    position:relative;
    border-bottom: 1px dashed #d6d5d5;
    padding-bottom:32.5px;
}
.solutions_content_feature_container_d {
    margin-bottom:111px;
    margin-left:70px;
    
}
.solutions_content_feature_container_d_reverse,
.solutions_content_feature_container_d_reverse_small,
.solutions_content_feature_container_d_reverse_standart {
    margin-right:70px;
}
.solutions_content_feature_container_d_reverse_wide {
    margin-top:110px;
    margin-right:0;
}
.solutions_content_feature_container_d_reverse_small {
    margin-top:37px;
}
.solutions_content_feature_container_d_reverse_standart {
    margin-top:111px;
}
.solutions_content_feature_container_d:before {
    content:"";
    position:absolute;
    bottom:10px;
    left:0;
    background:url(../img/arrow_d_red.png);
    width:24px;
    height:13px;
}
.solutions_content_feature_container_d_reverse:before,
.solutions_content_feature_container_d_reverse_small:before,
.solutions_content_feature_container_d_reverse_standart:before {
    content:"";
    position:absolute;
    bottom:10px;
    right:0;
    background:url(../img/arrow_d_green.png);
    width:24px;
    height:13px;
}
.solutions_content_feature_container_d_reverse_wide:before {
    content:"";
    position:absolute;
    bottom:10px;
    right:0;
    background:url(../img/arrow_d_grey.png);
    width:24px;
    height:13px;
}
.solutions_content_feature_d {
    padding-right:40px;
}
.solutions_content_feature_d_reverse {
    padding-left:40px;
}
.solutions_content_feature_discription_d {
    color:#898b92;
    font-size:16px;
    margin-top:7px;
    padding-right:10px;
}
/*ABILITY*/
.ability {
    width:100%;
    height:535px;
    padding-top:33px;
    background:url(../img/ability_m.png) no-repeat;
    background-size: cover;
    background-position: 50% 13%;
}
@media only screen and (min-width:768px) and (max-width:1023px) {
    .ability {
        width:100%;
        height:862px;
        padding-top:61px;
        background:url(../img/ability_t.png) no-repeat;
        background-size: cover;
        background-position: 50% 13%;
    }
}
@media only screen and (min-width:1024px) and (max-width:1199px) {
    .ability {
        width:100%;
        height:705px;
        padding-top:71px;
        background:url(../img/ability_tl.png) no-repeat;
        background-size: cover;
        background-position: 50% 13%;
    }
}
@media only screen and (min-width:1200px) {
    .ability {
        width:100%;
        height:1184px;
        padding-top:80px;
        background:url(../img/ability_d.png) no-repeat;
        background-size: cover;
        background-position: 50% 13%;
        background-attachment: fixed;
    }
}
.ability_content_m {
    display:block;
}
.ability_content_t,
.ability_content_tl,
.ability_content_d {
    display:none;
}
@media only screen and (min-width:768px) {
    .ability_content_m {
        display:none;
    }
}
@media only screen and (min-width:768px) and (max-width:1023px) {
    .ability_content_t {
        display:block;
    }
}
@media only screen and (min-width:1024px) and (max-width:1199px) {
    .ability_content_tl {
        display:block;
    }
}
@media only screen and (min-width:1200px) {
    .ability_content_d {
        display:block;
    }
}
.ability_content_m h2,
.ability_content_t h2,
.ability_content_tl h2,
.ability_content_d h2 {
    margin-top:0;
    text-align:center;
    font-weight:300;
}
.ability_content_m h2 {
    font-size: 18px;
    margin: 0 0 36px;
}
.ability_content_t h2 {
    margin-bottom:70px;
    font-size:36px;
}
.ability_content_tl h2 {
    margin-bottom:70px;
    font-size:36px;
}
.ability_content_d h2 {
    margin-bottom:90px;
    font-size:48px;
}
/*SWIPER_m*/
.ability_content_m .swiper-slide, 
.ability_content_m .swiper-slide-active {
    width:100%;
    height: 420px;
}
.ability_swiper_m_slide {
    height: 365px;
    padding: 100px 20px 0px 20px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    color:#a4a8af;
}
.ability_swiper_m_aso,
.ability_swiper_m_review,
.ability_swiper_m_ppc,
.ability_swiper_m_smm,
.ability_swiper_m_seo {
    position:relative;
    text-align:center;
    position:relative;
    font-size:15px;
    font-weight:400;
    margin-top:0;
    margin-bottom:10px;
    padding-top:55px;
    color:#ff4a30;
}
.ability_swiper_m_aso:before {
    content:"";
    position:absolute;
    background:url(../img/ability_swiper_m_aso.png) no-repeat;
    top:0;
    left:42%;
    width:41px;
    height:40px;
}
.ability_swiper_m_content {
    font-size: 14px;
    text-align: center;
}
.ability_content_m .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fd4933 !important;
}
.swiper-pagination-bullet {
    background: #c0c0c0;
    opacity:1;
}
/*SWIPER_T*/
.ability_content_t .cont.swiper-slide, 
.ability_content_t .swiper-slide-active {
    width:100%;
    height: 620px;
    padding:0 23.8%;
}
.ability_content_t .ability_swiper_t_slide {
    height: 535px;
    padding: 133px 38px 0px 38px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    color:#a4a8af;
}
.ability_swiper_t_aso,
.ability_swiper_t_review,
.ability_swiper_t_ppc,
.ability_swiper_t_smm,
.ability_swiper_t_seo {
    text-align:center;
    position:relative;
    font-size:22px;
    font-weight:400;
    margin-top:0;
    margin-bottom:25px;
    padding-top:86px;
    color:#ff4a30;
}
.ability_swiper_t_aso:before {
    content:"";
    position:absolute;
    background:url(../img/ability_swiper_d_aso.png) no-repeat;
    top:0;
    left:42%;
    background-size:contain;
    width:61px;
    height:60px;
}
.ability_swiper_t_review:before {
    content:"";
    position:absolute;
    background:url(../img/ability_swiper_d_review.png) no-repeat;
    top:0;
    left:42%;
    background-size:contain;
    width:61px;
    height:60px;
}
.ability_swiper_t_ppc:before {
    content:"";
    position:absolute;
    background:url(../img/ability_swiper_d_ppc.png) no-repeat;
    top:0;
    left:40.2%;
    background-size:contain;
    width:61px;
    height:60px;
}
.ability_swiper_t_smm:before {
    content:"";
    position:absolute;
    background:url(../img/ability_swiper_d_smm.png) no-repeat;
    top:0;
    left:40.2%;
    background-size:contain;
    width:61px;
    height:60px;
}
.ability_swiper_t_seo:before {
    content:"";
    position:absolute;
    background:url(../img/ability_swiper_d_seo.png) no-repeat;
    top:0;
    left:42%;
    background-size:contain;
    width:61px;
    height:60px;
}
.ability_swiper_t_content {
    font-size: 20px;
    text-align: center;
}
.ability_content_t .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 20px;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fd4933 !important;
}
.swiper-pagination-bullet {
    background: #c0c0c0;
    opacity:1;
}
/*SWIPER_TL*/
.ability_content_tl .cont.swiper-slide, 
.ability_content_tl .swiper-slide-active {
    width:100%;
    height: 430px;
    padding:0 23%;
}
.ability_content_tl .ability_swiper_tl_slide {
    height: 380px;
    padding: 63px 100px 0px 100px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    color:#a4a8af;
}
.ability_swiper_tl_aso,
.ability_swiper_tl_review,
.ability_swiper_tl_ppc,
.ability_swiper_tl_smm,
.ability_swiper_tl_seo {
    text-align:center;
    position:relative;
    font-size:22px;
    font-weight:400;
    margin-top:0;
    margin-bottom:15px;
    padding-top:78px;
    color:#ff4a30;
}
.ability_swiper_tl_aso:before {
    content:"";
    position:absolute;
    background:url(../img/ability_swiper_d_aso.png) no-repeat;
    top:0;
    left:42%;
    background-size:contain;
    width:61px;
    height:60px;
}
.ability_swiper_tl_review:before {
    content:"";
    position:absolute;
    background:url(../img/ability_swiper_d_review.png) no-repeat;
    top:0;
    left:42%;
    background-size:contain;
    width:61px;
    height:60px;
}
.ability_swiper_tl_ppc:before {
    content:"";
    position:absolute;
    background:url(../img/ability_swiper_d_ppc.png) no-repeat;
    top:0;
    left:42%;
    background-size:contain;
    width:61px;
    height:60px;
}
.ability_swiper_tl_smm:before {
    content:"";
    position:absolute;
    background:url(../img/ability_swiper_d_smm.png) no-repeat;
    top:0;
    left:42%;
    background-size:contain;
    width:61px;
    height:60px;
}
.ability_swiper_tl_seo:before {
    content:"";
    position:absolute;
    background:url(../img/ability_swiper_d_seo.png) no-repeat;
    top:0;
    left:42%;
    background-size:contain;
    width:61px;
    height:60px;
}
.ability_swiper_tl_content {
    font-size: 20px;
    text-align: center;
}
.ability_content_tl .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 17px;
}
/*ABILITY_D*/
.ability_content_features_d_block,
.ability_content_features_d_block_small {
    width:100%;
}
.ability_content_features_d_block {
    padding:0 7.369%;
}
.ability_content_features_d_block_small {
    padding:0 21.58%;
}
.ability_content_features_item_d {
    padding-top:120px;
    display:block;
    float:left;
    height:474.5px;
}
.ability_content_features_item_d:hover {
    cursor:pointer;
    padding-top:75px;
    background:#ffffff;
}
.ability_content_features_content_d {
    display:none;
}
.ability_content_features_item_d:hover .ability_content_features_content_d {
    display:block;
    font-size:16px;
    font-weight:300;
    text-align:center;
    color:#7e808a;
    padding: 0 10%;
}
.ability_content_features_d_block .ability_content_features_item_d {
    width:33.333333%;
}
.ability_content_features_d_block_small .ability_content_features_item_d {
    width:50%;
}
._grey {
    background:#e9ecef;
}
._light_grey {
    background:#f1f3f5;
}
.ability_content_features_d_aso,
.ability_content_features_d_review,
.ability_content_features_d_ppc,
.ability_content_features_d_smm,
.ability_content_features_d_seo {
    position:relative;
    text-align:center;
    color:#ff4a30;
    padding-top:110px;
    font-size:24px;
    margin-bottom:5px;
    font-weight:300;
}
.ability_content_features_d_aso:before {
    content:"";
    position:absolute;
    top:0;
    left:39%;
    background:url(../img/ability_swiper_d_aso.png);
    width:71px;
    height:70px;
}
.ability_content_features_d_review:before {
    content:"";
    position:absolute;
    top:0;
    left:38%;
    background:url(../img/ability_swiper_d_review.png);
    width:77px;
    height:69px;
}
.ability_content_features_d_ppc:before {
    content:"";
    position:absolute;
    top:0;
    left:40%;
    background:url(../img/ability_swiper_d_ppc.png);
    width:68px;
    height:68px;
}
.ability_content_features_d_smm:before {
    content:"";
    position:absolute;
    top:0;
    left:38%;
    background:url(../img/ability_swiper_d_smm.png);
    width:79px;
    height:69px;
}
.ability_content_features_d_seo:before {
    content:"";
    position:absolute;
    top:0;
    left:39%;
    background:url(../img/ability_swiper_d_seo.png);
    width:74px;
    height:73px;
}
/*PROFIT*/
.profit {
    background-color:white;
    color:#acaeb4;
    padding-bottom:34px;
    }
@media only screen and (min-width:768px) and (max-width:1023px) {
    .profit {
    background-color:white;
    }
}
@media only screen and (min-width:1023px) and (max-width:1199px) {
    .profit {
    background-color:white;
    }
}
@media only screen and (min-width:1200px) {
    .profit {
    background-color:white;
    padding-bottom:115px;
    }
}
.profit_content_m {
    display:block;
}
.profit_content_t,
.profit_content_tl,
.profit_content_d {
    display:none;
}
@media only screen and (min-width:768px) {
    .profit_content_m {
    display:none;
    }
}
@media only screen and (min-width:768px) and (max-width:1023px) {
    .profit_content_t {
    display:block;
    }
}
@media only screen and (min-width:1023px) and (max-width:1199px) {
    .profit_content_tl {
    display:block;
    }
}
@media only screen and (min-width:1200px) {
    .profit_content_d {
    display:block;
    }
}
.profit_content_m h2 {
    text-align:center;
    font-weight:300;
    font-size:18px;
    color:#9e9e9e;
    margin: 35px 0 0;
}
.profit_content_feature_container_m {
    text-align:center;
    margin-top: 25px;
    padding:0 15px 0;
}
.profit_content_feature_container_m h3 {
    font-size:15px;
    font-weight:300;
    color: #2e363f;
}
.profit_content_feature_item_m {
    font-size:14px;
    font-weight:300;
}
.profit_content_feature_item_m strong {
    font-weight:300;
    color: #2e363f;
}
.profit_content_footonte_m {
    text-align:center;
    font-size:15px;
    font-weight:400;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 43px;
    margin-bottom:40px;
    padding-top: 40px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color:#b3b2b2;
}
.profit_content_footonte_m strong {
    font-weight:400;
    color: #2e363f;
}
.profit_content_footonte_item_m {
    padding-left:60px;
    padding-top:14px;
    padding-bottom:22px;
    margin-bottom:9px;
    background: #f1f3f5;
}
.profit_content_footonte_item_m h3 {
    margin:0 0 6px;
    font-size: 15px;
    font-weight:400;
    color:#2e363f;
}
.profit_content_footonte_item_m p {
    margin:0;
    font-size: 14px;
    font-weight:400;
}
/*PROFIT_m ICONS*/
.profit_content_footonte_item_m {
    position:relative;
}
.profit_content_footonte_item_m:before {
    content:"";
    position:absolute;
    top:18px;
    left:10px;
    background:url(../img/checkbox_m_large.png);
    width:34px;
    height:34px;
}
.profit_content_t h2 {
    text-align:center;
    font-weight:400;
    font-size:36px;
    color:#9e9e9e;
    margin: 75px 0 15px;
}
.profit_content_feature_container_t {
    text-align:center;
    margin-top: 55px;
    padding:0 125px 0;
}
.profit_content_feature_container_t h3 {
    font-size:18px;
    font-weight:400;
    color: #2e363f;
}
.profit_content_feature_item_t {
    font-size:16px;
    font-weight:300;
}
.profit_content_feature_item_t strong {
    font-weight:300;
    color: #2e363f;
}
.profit_content_footonte_t {
    text-align:center;
    font-size:24px;
    font-weight:400;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 75px;
    margin-bottom:60px;
    padding-top: 50px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color:#b3b2b2;
}
.profit_content_footonte_t strong {
    font-weight:400;
    color: #2e363f;
}
.profit_content_footonte_item_t {
    padding-left:60px;
    margin-left:100px;
    margin-right:100px;
    padding-top:14px;
    padding-bottom:22px;
    margin-bottom:9px;
    background: #f1f3f5;
}
.profit_content_footonte_item_t h3 {
    margin:0 0 6px;
    font-size: 18px;
    font-weight:400;
    color:#2e363f;
}
.profit_content_footonte_item_t p {
    margin:0;
    font-size: 14px;
    font-weight:400;
}
/*PROFIT_t ICONS*/
.profit_content_footonte_item_t {
    position:relative;
}
.profit_content_footonte_item_t:before {
    content:"";
    position:absolute;
    top:18px;
    left:10px;
    background:url(../img/checkbox_m_large.png);
    width:34px;
    height:34px;
}
.profit_content_tl h2 {
    text-align:center;
    font-weight:400;
    font-size:36px;
    color:#9e9e9e;
    margin: 75px 0 15px;
}
.profit_content_feature_container_tl {
    text-align:center;
    margin-top: 55px;
    width: 30%;
    margin-right:1.6666%;
    margin-left:1.6666%;
    display: block;
    float: left;
}
.profit_content_feature_container_tl h3 {
    font-size:18px;
    font-weight:400;
    color: #2e363f;
}
.profit_content_feature_item_tl {
    font-size:16px;
    font-weight:300;
}
.profit_content_feature_item_tl strong {
    font-weight:300;
    color: #2e363f;
}
.profit_content_footonte_tl {
    text-align:center;
    font-size:24px;
    font-weight:400;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 75px;
    margin-bottom:60px;
    padding-top: 50px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color:#b3b2b2;
}
.profit_content_footonte_tl strong {
    font-weight:400;
    color: #2e363f;
}
.profit_content_footonte_item_tl {
    padding-left:60px;
    margin-left:225px;
    margin-right:225px;
    padding-top:14px;
    padding-bottom:22px;
    margin-bottom:9px;
    background: #f1f3f5;
}
.profit_content_footonte_item_tl h3 {
    margin:0 0 6px;
    font-size: 18px;
    font-weight:400;
    color:#2e363f;
}
.profit_content_footonte_item_tl p {
    margin:0;
    font-size: 14px;
    font-weight:400;
}
/*PROFIT_t ICONS*/
.profit_content_footonte_item_tl {
    position:relative;
}
.profit_content_footonte_item_tl:before {
    content:"";
    position:absolute;
    top:18px;
    left:10px;
    background:url(../img/checkbox_m_large.png);
    width:34px;
    height:34px;
}
.profit_content_d h2 {
    text-align:center;
    font-weight:300;
    font-size:48px;
    color:#9e9e9e;
    margin: 85px 0 45px;
}
.profit_content_feature_container_d {
    text-align:center;
    margin-top: 55px;
    width: 30%;
    margin-right:1.6666%;
    margin-left:1.6666%;
    display: block;
    float: left;
}
.profit_content_feature_container_d h3 {
    font-size:24px;
    font-weight:400;
    text-align:left;
    color: #2e363f;
    margin-bottom:10px;
}
.profit_content_feature_item_d {
    font-size:16px;
    text-align:left;
    font-weight:300;
}
.profit_content_feature_item_d strong {
    font-weight:300;
    color: #2e363f;
}
.profit_content_footonte_d {
    text-align:center;
    font-size:30px;
    font-weight:300;
    padding-left: 155px;
    padding-right: 155px;
    margin-top: 63px;
    margin-bottom:60px;
    padding-top: 60px;
    border-top-width: 1px;
    border-top-style: solid;
    color: #2e363f;
}
.profit_content_footonte_d strong {
    font-weight:400;
    color: #2e363f;
}
.profit_content_footonte_item_d {
    padding-left:90px;
    margin-left:225px;
    margin-right:225px;
    padding-top:14px;
    padding-bottom:22px;
    margin-bottom:9px;
}
.profit_content_footonte_item_d h3 {
    margin:0 0 6px;
    font-size: 24px;
    font-weight:400;
    color:#2e363f;
}
.profit_content_footonte_item_d p {
    margin:0;
    font-size: 16px;
    font-weight:400;
}
/*PROFIT_d ICONS*/
.profit_content_footonte_item_d {
    position:relative;
}
.profit_content_footonte_item_d:before {
    content:"";
    position:absolute;
    top:25px;
    left:0;
    background:url(../img/checkbox_d_large.png);
    width:69px;
    height:69px;
}
/*CLIENTS*/
.clients {
    height:838px;
    background:url(../img/clients_m.png) no-repeat;
    background-size:cover;
    background-position:50% 13%;
    padding: 33px 0 0;
    position:relative;
}
@media only screen and (min-width:768px) and (max-width:1023px) {
    .clients {
        height:1024px;
        background:url(../img/clients_t.png) no-repeat;
        background-size:cover;
        background-position:50% 13%;
        padding: 69px 0 0;
    }
}
@media only screen and (min-width:1024px) and (max-width:1199px) {
    .clients {
        height:975px;
        background:url(../img/clients_tl.png) no-repeat;
        background-size:cover;
        background-position:50% 13%;
        padding: 70px 0 0;
    }
}
@media only screen and (min-width:1200px) {
    .clients {
        height:1139px;
        background:url(../img/clients_d.png) no-repeat;
        background-size:cover;
        background-position:50% 13%;
        padding: 80px 0 0;
    }
}
.clients_content_m {
    display:block;
}
@media only screen and (min-width:768px) {
    .clients_content_m {
        display:none;
    }
}
.clients_content_t,
.clients_content_tl,
.clients_content_d {
    display:none;
}
@media only screen and (min-width:768px) and (max-width:1023px) {
    .clients_content_t {
        display:block;
    }
}
@media only screen and (min-width:1024px) and (max-width:1199px) {
    .clients_content_tl {
        display:block;
    }
}
@media only screen and (min-width:1200px) {
    .clients_content_d {
        display:block;
    }
}
.clients_content_m h2,
.clients_content_t h2,
.clients_content_tl h2,
.clients_content_d h2  {
    text-align:center;
    font-weight:300;
}
.clients_content_m h2 {
    font-size:18px;
    margin: 0 0 20px;
}
.clients_content_t h2,
.clients_content_tl h2 {
    font-size:36px;
    margin: 0 0 10px;
}
.clients_content_d h2 {
    font-size:48px;
    font-weight:300;
    margin: 0 0 32px;
}
.clients_content_item_m,
.clients_content_item_t,
.clients_content_item_tl {
    text-align:center;
    font-size:14px;
    color:#edeff0;
    font-weight:300;
    font-weight:300;
    margin: 0;
}
.clients_content_item_tl {
    margin: 0 0 50px;
}
.clients_content_item_d {
    text-align:center;
    font-size:18px;
    color:#a8b2bb;
    font-weight:300;
    padding:0 220px;
    margin: 0 0 80px;
}
.clients_content_item_m strong,
.clients_content_item_t strong,
.clients_content_item_tl strong,
.clients_content_item_d strong {
    font-weight:300;
    color:#ffffff;
}
.clients_content_item_m {
    padding: 0 15px;
}
.clients_content_item_t {
    padding: 0 90px;
    margin: 0 0 30px;
}
.clients_content_item_tl {
    padding: 0 200px;
}
.clients_swiper_m_slide {
    height:305px;
    background-color: rgba(0, 0, 0, 0.4);
}
.clients_content_m .swiper-slide, .ability_content_m .swiper-slide-active {
    height:400px;
}
.clients_phone {
    position:relative;
}
.clients_phone:before {
    content:"";
    position:absolute;
    background:url(../img/clients_phone_m.png) center;
    width:195px;
    height:399px;
    margin: 0 auto;
    left:0;
    right:0;
}
.clients_phone .swiper-wrapper {
    margin-top:48px;
}
.clients_content_m .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin:0 17px;
}
.clients_swiper_m_slide {
    text-align:center;
    padding:48px 0 0 0;
}
.clients_swiper_m_slide h4 {
    font-size:15px;
    font-weight:400;
    margin: 25px 0 15px;
    text-align:left;
    padding: 0 5px 0 5px;
}
.clients_swiper_content_m {
    font-size:14px;
    font-weight:400;
    color:#8e989d;
    text-align:left;
    padding: 0 5px 0 5px;
}
.clients_footline_m {
    padding: 33px 0px;
    background-color: rgba(0, 12, 28, 0.502);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.clients_footline_t {
    padding: 60px 0px;
    background-color: rgba(0, 12, 28, 0.502);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.clients_footline_tl {
    padding: 50px 0px;
    background-color: rgba(0, 12, 28, 0.502);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.clients_footline_d {
    padding: 100px 0px;
    background-color: rgba(0, 12, 28, 0.502);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
/*CIENTS_D*/
.clinets_margin_0 {
    margin:0 !important;
}
.clients_phoneblock_d {
    width:1076px;
    display:block;
    margin:0 auto;
}
.clinets_phone_container_d {
    display:block;
    float:left;
    padding: 50px 13px;
    margin:0 70px 0 0; 
    position:relative;
}
.clinets_phone_item_d {
    background: rgba(0, 0, 0, 0.4);
    width:190px;
    height:340px;
    padding: 50px 5px 0;
}
.clinets_phone_container_d:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    background:url(../img/clients_phone_d.png);
    width:217px;
    height:442px;
}
.clinets_phone_item_d {
    text-align:center;
    color:#cfd1d2;
}
.clinets_phone_item_d img {
    margin:0 0 25px;
}
.clinets_phone_item_d h4 {
    text-align:left;
    font-family:"Open Sans";
    font-size:18px;
    font-weight:300;
    margin: 0; 
}
.clinets_phone_item_d p {
    text-align:left;
    font-family:"Open Sans";
    font-size:12px;
    font-weight:300;
    margin:0 0 5px;
}
/*STAGES*/

/*STAGES GRID*/
.stages {
    height:400px;
    padding:30px 0;
    color:#afafaf;
}
@media only screen and (min-width:768px) and (max-width:1023px) {
    .stages {
        height:650px;
        padding: 70px 0;
    }
}
@media only screen and (min-width:1024px) and (max-width:1200px) {
    .stages {
        height:540px;
        padding: 70px 0;
    }
}
@media only screen and (min-width:1200px) {
    .stages {
        height:670px;
        padding: 80px 0;
    }
}
.stages_content_m {
    display:block;
}
.stages_content_t,
.stages_content_tl,
.stages_content_d {
    display:none;
}
@media only screen and (min-width:768px) {
    .stages_content_m {
        display:none;
    }
}
@media only screen and (min-width:768px) and (max-width:1023px) {
    .stages_content_t {
        display:block;
    }
}
@media only screen and (min-width:1024px) and (max-width:1199px) {
    .stages_content_tl {
        display:block;
    }
}
@media only screen and (min-width:1200px) {
    .stages_content_d {
        display:block;
    }
}

/*STAGES TYPOGRAPHY*/
.stages h2,
.stages p {
    text-align:center;
    font-weight:300;
}
/*M*/
.stages_content_m h2 {
    font-size:18px;
    margin:0 0 15px;
    padding:0 50px;
}
.stages_content_m p {
    font-size:14px;
    margin:0 0 40px;
    padding: 0 20px;
}
/*T + TL*/
.stages_content_t h2,
.stages_content_tl h2 {
    color:#303030;
    font-size:36px;
    margin:0 0 10px;
}
.stages_content_t h2 {
    padding: 0 100px;
}
.stages_content_t p,
.stages_content_tl p {
    color:#7a7a7a;
    font-size:14px;
    margin:0 0 50px;
}
/*D*/
.stages_content_d h2 {
    color:#303030;
    font-size:48px;
    margin:0 0 35px;
}
.stages_content_d p {
    color:#7a7a7a;
    font-size:18px;
    margin:0 0 60px;
}

/*STAGES SWIPER*/

/*M*/
.stages_content_m .swiper-container {
    width:260px;
    margin:0 auto;
}
.stages_content_m .swiper-wrapper {
    height:200px;
}
.stages_swiper_content_m {
    background:#f0f0f0;
    border:2px solid #d7d7d7;
    height:155px;
    padding: 20px 15px;
}
.stages_swiper_content_m h3 {
    font-size:15px;
    text-align:center;
    font-weight:400;
    color:#636363;
}

/*T + TL + D*/

.stages_wizard_t {
    width:634px;
    margin:0 auto;
}
.stages_wizard_tl {
    width:694px;
    margin:0 auto;
}
.stages_wizard_d {
    width: 878px;
    margin: 0px auto;
}
.stages_wizard_m_brief,
.stages_wizard_m_offering,
.stages_wizard_m_agreement,
.stages_wizard_m_payment,
.stages_wizard_m_promotion,
.stages_wizard_t_brief,
.stages_wizard_t_offering,
.stages_wizard_t_agreement,
.stages_wizard_t_payment,
.stages_wizard_t_promotion,
.stages_wizard_tl_brief,
.stages_wizard_tl_offering,
.stages_wizard_tl_agreement,
.stages_wizard_tl_payment,
.stages_wizard_tl_promotion,
.stages_wizard_d_brief,
.stages_wizard_d_offering,
.stages_wizard_d_agreement,
.stages_wizard_d_payment,
.stages_wizard_d_promotion {
    display:block;
    float:left;
    position:relative;
    width: 25px;
    height: 24px;
    border: 2px solid #d6d6d6;
    border-radius: 12px;
}
.stages_wizard_t_wide_line {
    width: 127px;
    display: block;
    float: left;
    height: 13px;
    border-bottom: 2px solid #d6d6d6;
}
.stages_wizard_t_short_line {
    width: 127px;
    display: block;
    float: left;
    height: 13px;
    border-bottom: 2px solid #d6d6d6;
}
.stages_wizard_tl_wide_line {
    width: 142px;
    display: block;
    float: left;
    height: 13px;
    border-bottom: 2px solid #d6d6d6;
}
.stages_wizard_tl_short_line {
    width: 142px;
    display: block;
    float: left;
    height: 13px;
    border-bottom: 2px solid #d6d6d6;
}
.stages_wizard_d_wide_line {
    width: 190px;
    display: block;
    float: left;
    height: 13px;
    border-bottom: 2px solid #d6d6d6;
}
.stages_wizard_d_short_line {
    width: 186px;
    display: block;
    float: left;
    height: 13px;
    border-bottom: 2px solid #d6d6d6;
}
/*STAGES WIZARD STEPS*/

/*T*/
.stages_wizard_content_t {
    width:670px;
    margin:15px auto 0;
    font-size:16px;
    font-weight:700;
    color:#b4b4b4;
}
.brif_t,
.offering_t,
.agreement_t,
.payment_t,
.promotion_t {
    display:block;
    float:left;
}
.brif_t {
    width:130px;
}
.offering_t {
    width:180px
}
.agreement_t {
    width:150px;
}
.payment_t {
    width:85px;
}
.promotion_t {
    width:125px;
    text-align:right;
}
/*TL*/
.stages_wizard_content_tl {
    width:725px;
    margin:15px auto 0;
    font-size:16px;
    font-weight:700;
    color:#b4b4b4;
}
.brif_tl,
.offering_tl,
.agreement_tl,
.payment_tl,
.promotion_tl {
    display:block;
    float:left;
}
.brif_tl {
    width:140px;
}
.offering_tl {
    width:190px
}
.agreement_tl {
    width:165px;
}
.payment_tl {
    width:95px;
}
.promotion_tl {
    width:135px;
    text-align:right;
}
/*D*/
.stages_wizard_content_d {
    width:950px;
    margin:15px auto 0;
    font-size:16px;
    font-weight:700;
    color:#b4b4b4;
}
.brif_d,
.offering_d,
.agreement_d,
.payment_d,
.promotion_d {
    display:block;
    float:left;
}
.brif_d {
    width:190px;
}
.offering_d {
    width:245px
}
.agreement_d {
    width:210px;
}
.payment_d {
    width:150px;
}
.promotion_d {
    width:155px;
    text-align:right;
}

/*STAGES PSEUDO SWIPER*/

/*T + TL + D*/
.stages_swiper_t {
    width:670px;
    height:130px;
    margin:70px auto 0;
    text-align:center;
    padding: 30px 0 0;
    background:#f0f0f0;
    border:2px solid #d6d6d6;
}
.stages_swiper_tl {
    width:725px;
    height:130px;
    margin:70px auto 0;
    text-align:center;
    padding: 30px 0 0;
    background:#f0f0f0;
    border:2px solid #d6d6d6;
}
.stages_swiper_d {
    width:950px;
    height:155px;
    margin:70px auto 0;
    text-align:center;
    padding: 30px 0 0;
    background:#f0f0f0;
    border:2px solid #d6d6d6;
}
.stages_swiper_t h3,
.stages_swiper_tl h3 {
    color:#333333;
    font-size:18px;
    font-weight:300;
    margin:0 0 17px;
}
.stages_swiper_t p,
.stages_swiper_tl p {
    font-size:14px;
    margin:0;
}
.stages_swiper_d h3 {
    color:#333333;
    font-size:24px;
    font-weight:300;
    margin:0 0 24px;
}
.stages_swiper_d p {
    font-size:18px;
    margin:0;
}
/*CONTACTS*/

/*CONTACTS GRID*/
.contacts {
    height:568px;
    background:url(../img/contacts_m.png) no-repeat;
    background-size:cover;
    background-position:50% 10%;
    padding:35px 0 40px; 
}
@media only screen and (min-width:768px) and (max-width:1023px) {
    .contacts {
        position: relative; /*hack to display footer on the bootom of page with position absolute*/
        height:907px;
        background: url(../img/contacts_t.png) no-repeat;
        background-size: cover;
        background-position: 50% 10%;
        padding: 60px 0 0;  
    }
}
@media only screen and (min-width:1024px) and (max-width:1199px) {
    .contacts {
        position: relative;
        height:915px;
        background: url(../img/contacts_tl.png) no-repeat;
        background-size: cover;
        background-position: 50% 10%;
        padding: 67px 0 0;  
    }
}
@media only screen and (min-width:1200px) {
    .contacts {
        position: relative;
        height:983px;
        background:url(../img/contacts_d.png) no-repeat;
        background-size:cover;
        background-position:50% 10%;
        padding:80px 0 40px; 
    }
}
.contacts_content_m {
    display:block;
}
.contacts_content_d,
.contacts_content_t,
.contacts_content_tl {
    display:none;
}
@media only screen and (min-width:768px) {
    .contacts_content_m {
        display:none;
    }
}
@media only screen and (min-width:768px) and (max-width:1023px) {
    .contacts_content_t {
        display:block;
    }
}
@media only screen and (min-width:1024px) and (max-width:1199px) {
    .contacts_content_tl {
        display:block;
    }
}
@media only screen and (min-width:1200px) {
    .contacts_content_d {
        display:block;
    }
}
@media only screen and (min-width:1200px) {
    .contacts_content_d {
        display:block;
    }
}
/*M*/
.contacts_content_m textarea,
.contacts_content_m input {
    width:100%;
    resize:none;
    font-family:"Open Sans";
    font-size:14px;
    text-align:center;
    font-style:italic;
    padding: 8px 1px;
    background-color: rgba(255, 255, 255, 0.6);
    border:2px solid rgb(179, 178, 178);
    margin: 0 0 20px;
}
.contacts_content_m textarea:focus,
.contacts_content_m input:focus {
    background-color:rgb(179, 178, 178);
    color:#333;
}
.contacts_content_m h2 {
    font-size:18px;
    font-weight:300;
    text-align:center;
    margin:0 0 16px;
}
.contacts_content_m p {
    font-size:14px;
    text-align:center;
    margin:0 0 34px;
}
/*T*/
.contacts_content_t form {
    padding:0 0 0 5px;
}
.contacts_content_t h2 {
    font-size:36px;
    text-align:center;
    margin:0 0 5px;
}
.contacts_content_t p {
    text-align:center;
    font-size:14px;
    margin: 0 0 50px;
}
.contacts_content_t form {
    width:720px;
    margin:0 auto;
}
.contacts_content_t .form_group {
    display:table;
    width:100%;
    margin: 0 0 35px;
}
.contacts_content_t .form_group label {
    display:table-cell;
    height:55px;
    vertical-align:middle;
    text-align:right;
    padding: 0 20px 0 0;
    width:200px;
    font-size:16px;
    font-weight:300;
    font-style:italic;
}
.contacts_content_t .form_group .last_label {
    display:block;
    float:left;
    height:55px;
    text-align:right;
    padding: 0 20px 0 0;
    width:200px;
    font-size:16px;
    font-weight:300;
    font-style:italic;
}
.contacts_content_t input {
    display:table-cell;
    width:495px;
    padding:12px;
    height:55px;
    background: rgba(0,0,0,0);
    border:1px solid #575656;
    font-size:14px;
    font-family:'Open Sans';
}
.contacts_content_t textarea {
    background: rgba(0,0,0,0);
    border:1px solid #575656;
    resize:none;
    font-size:14px;
    font-style:italic;
    padding:12px;
    width:495px;
}
.contacts_content_t ::-webkit-input-placeholder {
    font-family:'Open Sans';
    color:#797979;
}
.contacts_content_t :-moz-placeholder {
    font-family:'Open Sans';
    color:#797979;
}
/*FOOTER T*/
.contacts_footer_t {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:24px 0 28px;
    background: #161615;
}
.contacts_footer_content_t {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 300;
}
.contacts_footer_phone_t {
    position: relative;
    padding: 0 0 0 30px;
}
.contacts_footer_phone_t::before {
    content:"";
    position: absolute;
    bottom:0;
    left: 0;
    background: url(../img/footer_icon_call.png) no-repeat;
    width: 19px;
    height: 21px;
}
.contacts_footer_email_t {
    position: relative;
    padding: 0 0 0 35px;
}
.contacts_footer_email_t::before {
    content:"";
    position: absolute;
    bottom:0;
    left: 0;
    background: url(../img/footer_icon_email.png) no-repeat;
    width: 25px;
    height: 17px;
}
.contacts_footer_map_t {
    position: relative;
    padding: 0 0 0 25px;
}
.contacts_footer_map_t::before {
    content:"";
    position: absolute;
    bottom:0;
    left: 0;
    background: url(../img/footer_icon_map.png) no-repeat;
    width: 14px;
    height: 20px;
}
/*TL*/
.contacts_content_tl form {
    padding:0 0 0 5px;
}
.contacts_content_tl h2 {
    font-size:36px;
    text-align:center;
    margin:0 0 5px;
}
.contacts_content_tl p {
    text-align:center;
    font-size:14px;
    margin: 0 0 50px;
}
.contacts_content_tl form {
    width:720px;
    margin:0 auto;
}
.contacts_content_tl .form_group {
    display:table;
    width:100%;
    margin: 0 0 35px;
}
.contacts_content_tl .form_group label {
    display:table-cell;
    height:55px;
    vertical-align:middle;
    text-align:right;
    padding: 0 20px 0 0;
    width:200px;
    font-size:16px;
    font-weight:300;
    font-style:italic;
}
.contacts_content_tl .form_group .last_label {
    display:block;
    float:left;
    height:55px;
    text-align:right;
    padding: 0 20px 0 0;
    width:200px;
    font-size:16px;
    font-weight:300;
    font-style:italic;
}
.contacts_content_tl input {
    display:table-cell;
    width:495px;
    padding:12px;
    height:55px;
    background: rgba(0,0,0,0);
    border:1px solid #575656;
    font-size:14px;
    font-family:'Open Sans';
}
.contacts_content_tl textarea {
    background: rgba(0,0,0,0);
    border:1px solid #575656;
    resize:none;
    font-size:14px;
    font-style:italic;
    padding:12px;
    width:495px;
}
.contacts_content_tl ::-webkit-input-placeholder {
    font-family:'Open Sans';
    color:#797979;
}
.contacts_content_tl :-moz-placeholder {
    font-family:'Open Sans';
    color:#797979;
}
/*FOOTER Tl*/
.contacts_footer_tl {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:24px 0 28px;
    background: #161615;
}
.contacts_footer_content_tl {
    display: flex;
    justify-content: space-between;
    width: 710px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 300;
}
.contacts_footer_phone_tl {
    position: relative;
    padding: 0 0 0 30px;
}
.contacts_footer_phone_tl::before {
    content:"";
    position: absolute;
    bottom:0;
    left: 0;
    background: url(../img/footer_icon_call.png) no-repeat;
    width: 19px;
    height: 21px;
}
.contacts_footer_email_tl {
    position: relative;
    padding: 0 0 0 35px;
}
.contacts_footer_email_tl::before {
    content:"";
    position: absolute;
    bottom:0;
    left: 0;
    background: url(../img/footer_icon_email.png) no-repeat;
    width: 25px;
    height: 17px;
}
.contacts_footer_map_tl {
    position: relative;
    padding: 0 0 0 25px;
}
.contacts_footer_map_tl::before {
    content:"";
    position: absolute;
    bottom:0;
    left: 0;
    background: url(../img/footer_icon_map.png) no-repeat;
    width: 14px;
    height: 20px;
}
/*CONTANTS_D*/
.contacts_content_d form {
    padding:0 0 0 5px;
}
.contacts_content_d h2 {
    font-size:48px;
    text-align:center;
    margin:0 0 35px;
}
.contacts_content_d p {
    text-align:center;
    font-size:16px;
    margin: 0 0 60px;
}
.contacts_content_d form {
    width:720px;
    margin:0 auto;
}
.contacts_content_d .form_group {
    display:table;
    width:100%;
    margin: 0 0 35px;
}
.contacts_content_d .form_group label {
    display:table-cell;
    height:55px;
    vertical-align:middle;
    text-align:right;
    padding: 0 20px 0 0;
    width:200px;
    font-size:16px;
    font-weight:300;
    font-style:italic;
}
.contacts_content_d .form_group .last_label {
    display:block;
    float:left;
    height:55px;
    text-align:right;
    padding: 0 20px 0 0;
    width:200px;
    font-size:16px;
    font-weight:300;
    font-style:italic;
}
.contacts_content_d input {
    display:table-cell;
    width:495px;
    padding:12px;
    height:55px;
    background: rgba(0,0,0,0);
    border:1px solid #575656;
    font-size:18px;
    font-family:'Open Sans';
}
.contacts_content_d textarea {
    background: rgba(0,0,0,0);
    border:1px solid #575656;
    resize:none;
    font-size:18px;
    font-style:italic;
    padding:12px;
    width:495px;
}
.contacts_content_d ::-webkit-input-placeholder {
    font-family:'Open Sans';
    color:#797979;
}
.contacts_content_d :-moz-placeholder {
    font-family:'Open Sans';
    color:#797979;
}
/*FOOTER D*/
.contacts_footer_d {
    position: absolute;
    bottom:0;
    right: 0;
    left: 0;
    width: 710px;
    margin:0 auto;
    padding: 0 0 33px;
}
.contacts_footer_content_d {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 300;
}
.contacts_footer_phone_d {
    position: relative;
    padding: 0 0 0 30px;
}
.contacts_footer_phone_d::before {
    content:"";
    position: absolute;
    bottom:0;
    left: 0;
    background: url(../img/footer_icon_call.png) no-repeat;
    width: 19px;
    height: 21px;
}
.contacts_footer_email_d {
    position: relative;
    padding: 0 0 0 35px;
}
.contacts_footer_email_d::before {
    content:"";
    position: absolute;
    bottom:0;
    left: 0;
    background: url(../img/footer_icon_email.png) no-repeat;
    width: 25px;
    height: 17px;
}
.contacts_footer_map_d {
    position: relative;
    padding: 0 0 0 25px;
}
.contacts_footer_map_d::before {
    content:"";
    position: absolute;
    bottom:0;
    left: 0;
    background: url(../img/footer_icon_map.png) no-repeat;
    width: 14px;
    height: 20px;
}
/*FOOTER_M*/
.footer_m {
    display: block;
    height: 75px;
    background: #0f0e0d;
}
@media only screen and (min-width:768px) {
    .footer_m {
        display:none;
    }
}
.footer_content_m {
   text-align:center;
    width:150px;
    margin:0 auto;
    padding:25px 0 0;
}
.footer_content_m img {
    vertical-align: bottom;
}
.footer_icon_m_call {
    float:left;
}
.footer_icon_m_map {
    float:right;
}